// <----- Palette ----->

// --- colori principali della pagina 
$primary: white;
$secondary: black;
$bluelagoon: #038484;

// paragrafi - testi footer  
$lightgrey: #979797;

// testi secondari - pretitle - icone 
$lightlagoon: #0FA8A4;
$pumice: #bcbebc;

// hover icone 
$darklagoon: #097470;

// --- colori di sfondo 
$graynurse: #eef1ed;
$bigstone: #122439;
$seanymph: #6ca0a0;

// footer 
$woodsmoke: #111117;
$lightsmoke: #19191f;

